/* Pagina Geral */

.macacada {
    margin-bottom: 16vh;
}

.Principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr;
    height: 0;
}

body {
    margin: 0;
    padding: 0;
}

.corpo {
    width: 120%;
    height: 75%;
    user-select: none;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
}

.corpo > p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    /* identical to box height, or 94% */
    align-self: start;
    text-align: center;
    color: black;
}

.corpagina {
    background-color: #3a506b;
    margin: 0;
    padding: 0;
}

/* Header */

.NavBar {
    width: 100%;
    background-color: #5BC0BE;
    height: 9%;
    position: fixed;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: flex;
    top: 0;
    user-select: none;
}

.NavContainer{
    height: 9%;
    width: 4%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.SideContainer{
    height: 9%;
    width: 100%;
    user-select: none;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 0;
}

.LinhasCON2 {
    width: 100%;
    height: 4.4%;
    align-items: center;
    justify-content: center;
    top: 0;
    display: flex;
    user-select: none;
    text-align: center;
}

.logo {
    text-align: center;
    width: 100%;
    height: 100%;
    user-select: none;
}

.estlogo {
    width: 25%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
}

.linhasCON {
    align-items: center;
    justify-content: center;
    top: 0;
    display: flex;
    user-select: none;
    text-align: center;
}

.linhasEST {
    max-width: 27px;
    max-height: 23px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.linhasEST:hover .linhas {
    stroke-width: 2;
    stroke: #6FFFE9;
    margin-right: 20px;
}

.linhasEST:hover {
    cursor: pointer;
}

.linhas {
    stroke-width: 2;
    stroke: black;
    fill: none;
    margin-right: 20px;
}

.UserEST{
    width: auto;
    height: auto;
    margin-right: 2%;
    right: 0;
    position: absolute;
}

.UserEST:hover .User {
    cursor: pointer;
}

.User {
    width: 100%;
    height: 100%;
    max-width: 72px;
    max-height: 73px;
}

.sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1C2541;
    overflow-x: hidden;
    transition: width 0.5s; /* Adiciona uma transição suave para a largura da barra lateral */
}

.sidebar.show {
    width: 4%; /* Define a largura da barra lateral como 90% quando a classe "show" é adicionada */
}


.SairTamanhoEST {
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity 0.5s;
    justify-content: center;
    overflow-x: hidden;
    bottom: 0;
}

.SairTamanhoEST.show {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    position: fixed;
    display: flex;
}

.SairBack {
    max-width: 0;
    max-height: 0;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity 0.5s;
    justify-content: center;
}

.SairBack.show {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    mix-blend-mode: multiply;
    background-color: #0B132B;
    position: fixed;
    display: flex;
    bottom: 0 !important;
}

.Sair { 
    width: 100%;
    height: 100%;
    max-width: 571px;
    max-height: 595px;
    background-color: #5B718B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border-radius: 8px;
    border: 2px solid #6FFFE9;
    align-items: center;
}

.SairT { 
    width: 100%;
    height: 100%; 
    max-width: 571px;
    max-height: 595px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    display: flex;
    text-align: center;
    color: #FFFFFF;
    user-select: none;
    margin-top: 10%;
}

.ContainerButton {
    width: 100%;
    height: 100%;
    max-width: 473px;
    max-height: 96px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20%;
}

.CancelButton {
    width: 100%;
    height: 100%;
    max-height: 96px;
    max-width: 209px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1C2541;
    background: #6FFFE9;
    border-radius: 8px;
    border: 2px solid white;
    box-sizing: border-box;
    user-select: none;
}

.CancelButton:hover {
    cursor: pointer;
}

.SairButton {
    width: 100%;
    height: 100%;
    max-width: 209px;
    max-height: 96px;
    background: #3A506B;
    border: 2px solid #5BC0BE;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    user-select: none;
    text-decoration: none;
}

.SairButton:hover {
    cursor: pointer;
}


.linhasEST2 {
    max-width: 27px;
    max-height: 23px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.linhasEST2:hover .linhas2 {
    stroke-width: 2;
    stroke: #5BC0BE;
    margin-right: 20px;
}

.linhasEST2:hover {
    cursor: pointer;
}

.linhas2 {
    stroke-width: 2;
    stroke: #6FFFE9;
    fill: none;
    margin-right: 20px;
}

.ItensEST {
    text-align: center;
    display: block;
}

.ItensEST:hover .Item {
    cursor: pointer;
}

.Item{
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 25%;
}

.ExitEST {
    text-align: center;
    display: block;
}

.ExitEST:hover .Exit {
    cursor: pointer;
}


.Exit {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px; /* Ajuste o valor conforme necessário */
    margin-bottom: 20px; /* Ajuste o valor conforme necessário */
}


/* Main */

.Slogan {
    font-family: 'Overlock SC';
    font-style: normal;
    font-weight: 100;
    font-size: 26px;
    line-height: 26px;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 4%;
    user-select: none;
}


/* 
    Começo da parte onde fica o calendario e os grupos
*/

.Centro {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    width: 100%;
    height: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}


/* 
    Fim da parte onde fica o calendario e os grupos
*/


/* 
    Começo da estilização do calendario
*/

.Cal {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vh;
    max-height: 600px;
    max-width: 608px;

}

.TitCal {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 10px;
    user-select: none;
    margin-bottom: 4%;
    align-self: end;
}

.CalDiv {
    width: 100%;
    height: 100%;
}

.tabela {
    background-color: #5B718B;
    margin: 0 auto;
    padding: 0;
    width: 43.334%;
    height: 100%;
    border-radius: 10px;
    /*padding-bottom: 50px;*/
    padding-left: 10%;
    padding-right: 10%;
    align-self: self-start;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.tabela-est {
    justify-items: center;
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    grid-template-rows: repeat(2, 1fr);
    width: 120%;
    align-items: center;
    margin-top: 10%;
}

.Linha {
    grid-column: span 3;
}

.ColTit {
    text-align: center;
    padding: 0;
    margin-top: 0;
}

.dia {
    font-weight: bold;
    background-color: #5B718B;
    text-align: center;
    font-size: 16px;
}

.fds {
    color: #6FFFE9;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.prev-month{
    text-align: center;
}

.dias {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

#diasEST:hover {
    cursor: pointer;
    background-color: #E0E0E0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
}

.Butfoward {
    float: right;
    margin-right: -90%;
}

.Butfoward:hover {
    cursor: pointer;
}

.Butback {
    float: left;
    margin-left: -90%;
}

.Butback:hover {
    cursor: pointer;
}

.TitMes {
    font-size: 22px;
    color: #5BC0BE;
    font-weight: bold;
    user-select: none;
}

.texto{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.Linha {
    width: 100%; /* Define a largura da linha igual à largura da célula */
    height: 1px; /* Define a altura da linha */
    background-color: #E0E0E0; /* Cor da linha */
    margin-bottom: 2%;
}

/* 
    Fim da estilização do calendario
*/

/* 
    Começo da estilização dos Grupos
*/

.Grupos {
    max-width: 520px;
    max-height: 602px;
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.GrupoTit {
    appearance: none;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    width: 100%;
    max-width: 406px;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 1%;
}

.GrupoTit::placeholder {
    color: #FFFFFF;
}

.Lupa {
    enable-background: 0 0 48 48;
    pointer-events: none; 
    display: inherit; 
    width: 100%; 
    height: 100%;
    max-width: 48px;
    max-height: 48px;
    stroke: #5B718B;
    margin-right: 3%;
}

.Search {
    max-width: 521px;
    max-height: 52px;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    align-self: end;
    margin-bottom: 4%;
}

.GruposEST {
    max-width: 520px;
    max-height: 520px;
    width: 100%;
    height: 100vh;
    background-color: #1C2541;
    border-radius: 8px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-color: #5BC0BE transparent;
}

.AltaEST{
    width: 87%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Alta {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    margin-bottom: 1%;
    padding: 0;
    user-select: none;
}

.Alli {
    width: 327px;
    text-align: center;
    margin-top: 0;
    max-height: 3px;
    height: 100vh;
    overflow: visible;
}

.Aline{
    stroke-width: 1px;
}

.GCont {
    width: 100%;
    max-height: 55px;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.65fr;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    user-select: none;
    cursor: pointer;
    margin-bottom: 3%;
}

.MemNum {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.65fr;
    align-items: center;
    user-select: none;
    width: 100%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    margin-top: 3%;
}

.IT, .Num {
    margin: 0; /* Remova o margin-top para ajustar o alinhamento vertical */
}

.IT {
    height: auto;
    max-width: 200px;
    width: 100%;
    padding: 0;
    vertical-align: middle;
    max-width: 125px;
    width: 100%;
    max-height: 21px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    color: #FFFFFF;
}

.MemTit {
    margin: 0;
}

.Num {
    max-width: 138px;
    width: 100%;
    max-height: 21px;
    height: 100vh;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Icon {
    max-height: 55px;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.IT2 {
    height: auto; /* Adicionado */
    max-width: 200px;
    width: 100%;
    padding: 0;
    margin-top: 0%;
    margin-bottom: 30%;
    vertical-align: middle;
}

.Num2 {
    max-width: 138px;
    width: 100%;
    max-height: 25px;
    height: 100vh;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 0;
}

.Recomendado {
    
    max-height: 182px;
    max-width: 431px;
    height: 100vh;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Alta2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    margin-top: 4%;
    color: #FFFFFF;
    margin-bottom: 1%;
    padding: 0;
    user-select: none;
}


/* 
    Fim da estilização dos Grupos
*/