/* Pagina Geral */

.Principal {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
}

.corpagina {
    background-color: #3a506b;
    margin: 0;
    padding: 0;
}

/* Header */

.NavBar {
    width: 100%;
    background-color: #5BC0BE;
    height: 9%;
    position: fixed;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: flex;
    top: 0;
    user-select: none;
}

.logo {
    text-align: center;
    width: 100%;
    height: 100%;
    user-select: none;
}

.estlogo {
    width: 25%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
}

.linhasCON {
    flex-grow: 1;
    width: fit-content;
    height: fit-content;
}

.linhasEST {
    width: 27px;
    height: 23px;
    margin-top: 0px;
    margin-left: 25px;
}

.linhasEST:hover .linhas {
    stroke-width: 2;
    stroke: #6FFFE9;
    margin-right: 20px;
}

.linhasEST:hover {
    cursor: pointer;
}

.linhas {
    stroke-width: 2;
    stroke: black;
    fill: none;
    margin-right: 20px;
}

.UserEST{
    width: auto;
    height: auto;
    margin-right: 2%;
}

.UserEST:hover .User {
    cursor: pointer;
}

.User {
    width: 100%;
    height: 100%;
    max-width: 72px;
    max-height: 73px;
}

.sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1C2541;
    overflow-x: hidden;
    transition: width 0.5s; /* Adiciona uma transição suave para a largura da barra lateral */
}

.sidebar.show {
    width: 4%; /* Define a largura da barra lateral como 90% quando a classe "show" é adicionada */
}

.linhasEST2 {
    width: 27px;
    height: 23px;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 25px;
}

.linhasEST2:hover .linhas2 {
    stroke-width: 2;
    stroke: #5BC0BE;
    margin-right: 20px;
}

.linhasEST2:hover {
    cursor: pointer;
}

.linhas2 {
    stroke-width: 2;
    stroke: #6FFFE9;
    fill: none;
    margin-right: 20px;
}

.ItensEST {
    text-align: center;
    display: block;
}

.ItensEST:hover .Item {
    cursor: pointer;
}

.Item{
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 25%;
}

.ExitEST {
    text-align: center;
    display: block;
}

.ExitEST:hover .Exit {
    cursor: pointer;
}


.Exit {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px; /* Ajuste o valor conforme necessário */
    margin-bottom: 20px; /* Ajuste o valor conforme necessário */
}


/* Main */

.Slogan {
    font-family: 'Overlock SC';
    font-style: normal;
    font-weight: 100;
    font-size: 26px;
    line-height: 26px;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 8%;
}


/* 
    Começo da parte onde fica o calendario e os grupos
*/

.Centro {
    max-width: 1380px;
    max-height: 602px;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

/* 
    Fim da parte onde fica o calendario e os grupos
*/


/* 
    Começo da estilização do calendario
*/

.Cal {
    margin-right: 15%;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vh;
    max-height: 600px;
    max-width: 608px;

}

.TitCal {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 10px;
    user-select: none;
}

.CalDiv {
    width: 100%;
    height: 100%;
    max-width: 608px;
    max-height: 520px;
}

.tabela {
    background-color: #5B718B;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 608px;
    max-height: 520px;
    border-radius: 10px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.ColTit {
    text-align: center;
    padding: 0;
    margin-top: 0;
    position: relative;
}

.dia {
    font-weight: bold;
    background-color: #5B718B;
    text-align: center;
    font-size: 16px;
}

.fds {
    color: #6FFFE9;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.dias {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.Butfoward {
    float: right;
    margin-right: -30px;
    margin-top: 5px;
}

.Butfoward:hover {
    cursor: pointer;
}

.Butback {
    float: left;
    margin-left: -30px;
    margin-top: 5px;
}

.Butback:hover {
    cursor: pointer;
}

.TitMes {
    font-size: 22px;
    color: #5BC0BE;
    font-weight: bold;
    position: relative;
    user-select: none;
}

.Linha {
    position: absolute;
    bottom: 0; /* Alinha a linha com a borda inferior da célula */
    left: 50%; /* Posiciona a linha no centro horizontal */
    transform: translateX(-50%); /* Centraliza a linha horizontalmente */
    width: 115%; /* Define a largura da linha igual à largura da célula */
    height: 1px; /* Define a altura da linha */
    background-color: #E0E0E0; /* Cor da linha */
    margin-bottom: 2%;
}

/* 
    Fim da estilização do calendario
*/

/* 
    Começo da estilização dos Grupos
*/

.Grupos {
    max-width: 520px;
    max-height: 602px;
    width: 100%;
    height: 100vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11%;
}

.GrupoTit {
    appearance: none;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    width: 100%;
    max-width: 406px;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 1%;
}

.GrupoTit::placeholder {
    color: #FFFFFF;
}

.GruposEST {
    margin-top: 5%;
    max-width: 520px;
    max-height: 520px;
    width: 100%;
    height: 100vh;
    background-color: #1C2541;
    border-radius: 8px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AltaEST{
    
}

.Alta {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    margin-bottom: 1%;
    padding: 0;
    user-select: none;
}

.Alli {
    width: 327px;
    text-align: center;
    margin-top: 0;
    height: 2px;
}

.Lupa {
    enable-background: 0 0 48 48;
    pointer-events: none; 
    display: inherit; 
    width: 100%; 
    height: 100%;
    max-width: 48px;
    max-height: 48px;
    stroke: #5B718B;
    margin-right: 3%;
}

.Search {
    max-width: 521px;
    max-height: 52px;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

/* 
    Fim da estilização dos Grupos
*/