.logo {
    text-align: center;
    width: 100%;
    height: 100%;
    user-select: none;
}

.NavBar {
    width: 100%;
    background-color: #5BC0BE;
    height: 9%;
    position: absolute;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: flex;
}

body {
    margin: 0;
    padding: 0;
}

.corpagina {
    background-color: #3a506b;
    margin: 0;
    padding: 0;
}
.estlogo {
    width: 25%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
}

.linhas {
    stroke-width: 2;
    stroke: black;
    fill: none;
    margin-right: 20px;
}

.linhasEST:hover .linhas {
    stroke-width: 2;
    stroke: #6FFFE9;
    margin-right: 20px;
}

.linhasEST:hover {
    cursor: pointer;
}

.linhasEST {
    width: 27px;
    height: 23px;
    margin-top: 0px;
    margin-left: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.linhasCON {
    flex-grow: 1;
    width: fit-content;
    height: fit-content;
}

.sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1C2541;
    overflow-x: hidden;
    transition: width 0.5s; /* Adiciona uma transição suave para a largura da barra lateral */
}

.sidebar.show {
    width: 4%; /* Define a largura da barra lateral como 90% quando a classe "show" é adicionada */
}

.linhas2 {
    stroke-width: 2;
    stroke: #6FFFE9;
    fill: none;
    margin-right: 20px;
}

.linhasEST2:hover .linhas2 {
    stroke-width: 2;
    stroke: #5BC0BE;
    margin-right: 20px;
}

.linhasEST2:hover {
    cursor: pointer;
}

.linhasEST2 {
    width: 27px;
    height: 23px;
    margin-top: 31px;
    margin-left: 20px;
}

.Cal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.CalDiv {
    margin-top: 15%;
    margin-right: 50%;
}

.tabela {
    background-color: #5B718B;
    margin: 0;
    padding: 0;
    width: 608px;
    height: 520px;
    border-radius: 10px;
    padding-bottom: 50px;
    
}

.ColTit {
    text-align: center;
    padding: 0;
    margin-top: 0;
}

.dia {
    font-weight: bold;
    background-color: #5B718B;
    text-align: center;
    font-size: 16px;
}

.fds {
    color: #6FFFE9;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.dias {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.Butfoward {
    float: right;
    margin-right: 30px;
    margin-top: 5px;
}

.Butfoward:hover {
    cursor: pointer;
}

.Butback {
    float: left;
    margin-left: 30px;
    margin-top: 5px;
}

.Butback:hover {
    cursor: pointer;
}

.TitMes {
    font-size: 22px;
    color: #5BC0BE;
    font-weight: bold;
    position: relative;
}

