<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeSync</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
</head>
<body class="corpagina">
    <header>
        <div class="NavBar">
            <div class="NavContainer">
                <h1 class="linhasCON">
                    <svg class="linhasEST" id="linhasDiv">
                        <path class="linhas" d="M 2 6 H 3 V 5 h 26 v 1 Z m 1 5 H 3 v 1 h 26 v -1 Z m 1 6 H 3 v 1 h 26 v -1 Z"></path>
                    </svg>
                </h1>
            </div>
            <h2 class="estlogo">
                <img class="logo" src="{{ url_for('static', filename='TimeSync.png')}}" >
            </h2>
            <h3 class="UserEST">
                <img class="User" src="{{ url_for('static', filename='User.png')}}" >
            </h3>
            <div class="sidebar" id="sidebar">
                <div class="SideContainer">
                    <h1 class="LinhasCON2">
                            <svg class="linhasEST2" id="LinhasDiv2">
                                <path class="linhas2" d="M 2 6 H 3 V 5 h 26 v 1 Z m 1 5 H 3 v 1 h 26 v -1 Z m 1 6 H 3 v 1 h 26 v -1 Z"></path>
                            </svg>    
                    </h1>
                </div>
                <h2 class="ItensEST">
                    <a href="/Home">
                        <img class="Item" id="Item1" src="{{ url_for('static', filename='Home.png')}}" >
                    </a>
                    <img class="Item" id="Item2" src="{{ url_for('static', filename='About.png')}}" >
                    <img class="Item" id="Item3" src="{{ url_for('static', filename='Project.png')}}" >
                </h2>
                <h3 class="ExitEST">
                        <img class="Exit" id="LogOut" src="{{ url_for('static', filename='Exit.png')}}" alt="Log out?" >
                </h3>   
            </div>
        </div>
        <div class="SairBack" id="SairBack">

        </div>
        <div class="SairTamanhoEST" id="SairTamanhoEST">
            <div class="Sair">
                <div class="SairT">
                        Deseja realizar logout?
                </div>
                <div class="ContainerButton">
                    <div class="CancelButton" id="CancelButton">
                        Continuar navegando?
                    </div>
                    <a class="SairButton" href="/Logout">
                        Sim
                    </a>
                </div>
            </div> 
        </div>   
    </header>
    <div class="macacada"></div>
    <main class="Principal">
        <div class="Slogan">“Sincronize seu tempo, a todo tempo.”</div>
            <div class="Centro">
                <p class="TitCal">MEU CALENDARIO</p>           
                <div class="Cal">
                    <div class="CalDiv">
                        <table class="tabela">
                            <tbody>
                                <tr>
                                    <td colspan="7" class="ColTit">
                                        <svg class="Butback" width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg" button onclick="MudarMes('prev')">
                                            <path d="M7.21289 0.5L0 8L7.21289 15.5L9 13.6418L3.57422 8L9 2.35824L7.21289 0.5Z" fill="#6FFFE9">
                                        </svg>
                                            <style>
                                                .TitMes{font-family: 'Nunito'}             
                                            </style>                          
                                            <span class="TitMes">{{ title }} 2024</span>
                                        <svg class="Butfoward" width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg" button onclick="MudarMes('next')">                                       
                                            <path d="M1.78711 15.5L9 8L1.78711 0.5L0 2.35825L5.42578 8L0 13.6418L1.78711 15.5Z" fill="#6FFFE9">
                                        </svg>
                                        <svg class="Linha" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 1.5H554" stroke="#E0E0E0" stroke-width="1.5"/>
                                        </svg>    
                                    </td>
                                </tr>                   
                            </tbody>
                            <tbody class="corpo">
                                <tr class="dia">
                                    <style>
                                        .dia{font-family: 'Nunito'}             
                                    </style>
                                    <td>DOM</td>
                                    <td>SEG</td>
                                    <td>TER</td>
                                    <td>QUA</td>
                                    <td>QUI</td>
                                    <td>SEX</td>
                                    <td>SAB</td>
                                </tr>
                                {% for dia in dias %}
                                    <td id="{{ dia['id'] }}" {% if dia['class'] %}class="{{ dia['class'] }}" {% endif %}
                                    {% if dia['feriado'] %}name="{{ dia['feriado'] }}"{% endif %}>
                                    <span class="dias"><style>
                                        .dias{font-family: 'Nunito'}             
                                    </style>{{ dia['dia'] }}</span>
                                    </td>
                                    {% if loop.index % 7 == 0 %}
                                        </tr><tr>
                                    {% endif %}
                                {% endfor %}
                                
                            </tbody>   
                        </table>
                    </div>
                </div>
                <div class="Search">
                    <svg class="Lupa" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24">
                        <path d="m20.87 20.17-5.59-5.59C16.35 13.35 17 11.75 17 10c0-3.87-3.13-7-7-7s-7 3.13-7 7 3.13 7 7 7c1.75 0 3.35-.65 4.58-1.71l5.59 5.59.7-.71zM10 16c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6z"></path></svg>
                    <input class="GrupoTit" type="text" id="GrupoTit" name="GrupoTit" placeholder="PESQUISAR GRUPOS">
                    </input>
                </div>   
                <div class="Grupos">
                    <div class="GruposEST" >
                        <div class="AltaEST">
                            <p class="Alta">Grupos em alta 🔥</p>
                            <svg class="Alli" xmlns="http://www.w3.org/2000/svg">
                                <line class="Aline" y1="0.5" x2="327" y2="0.5" stroke="#6FFFE9"/>
                            </svg>
                            <div class="MemNum">
                                <p class="MemTit">Membros</p>
                            </div>
                            <div class="GCont">
                                <div class="IconEST">
                                    <img class="Icon" src="{{ url_for('static', filename='Icon.png')}}">
                                    <img class="Icon" src="{{ url_for('static', filename='Icon.png')}}">
                                    <img class="Icon" src="{{ url_for('static', filename='Icon.png')}}">
                                </div>
                                <div class="IconT">
                                    <p class="IT">PLACEHOLDER</p>
                                    <p class="IT">PLACEHOLDER</p>
                                    <p class="IT">PLACEHOLDER</p>
                                </div>
                                <div class="MembrosEST"> 
                                        <p class="Num">100</p>
                                        <p class="Num">100</p>
                                        <p class="Num">100</p>
                                    </div>
                                </div>
                            </div>
                        <div class="Recomendado">
                            <p class="Alta2">Recomendados para você</p>
                            <svg class="Alli" xmlns="http://www.w3.org/2000/svg">
                                <line class="Aline" y1="0.5" x2="327" y2="0.5" stroke="#6FFFE9"/>
                            </svg>
                            <div class="GCont2">
                                <div class="IconEST2">
                                    <img class="Icon2" src="{{ url_for('static', filename='Icon2.png')}}">
                                    <img class="Icon2" src="{{ url_for('static', filename='Icon2.png')}}">
                                </div>
                                <div class="IconT2">
                                    <p class="IT2">PLACEHOLDER</p>
                                    <p class="IT2">PLACEHOLDER</p>
                                </div>
                                <div class="MembrosEST2"> 
                                        <p class="Num2">100</p>
                                        <p class="Num2">100</p>
                                    </div>
                                </div>
                            </div>
                        </div>                                       
                        </div>                            
                    </div>
                </div>
            </div>
                
    </main>

            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script>
                document.getElementById("linhasDiv").addEventListener("click", function() {
                    document.getElementById("sidebar").classList.toggle("show");
                });

                document.getElementById("LinhasDiv2").addEventListener("click", function() {
                    document.getElementById("sidebar").classList.toggle("show");
                });
            </script>
            <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
            <script>
                function MudarMes(direction) {
                    const MesAtual = "{{ title }}"; // Obtém o mês atual do Flask
                    const Meses = [
                        "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho",
                        "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"
                    ];
                    const currentIndex = Meses.indexOf(MesAtual);

                    let newIndex;
                    if (direction === 'prev') {
                        newIndex = currentIndex === 0 ? 11 : currentIndex - 1;
                    } else {
                        newIndex = currentIndex === 11 ? 0 : currentIndex + 1;
                    }

                    const NovoMes = Meses[newIndex];
                    window.location.href = `/Home?mes=${NovoMes}`; // Redireciona para a página com o novo mês
                }
            </script>
            <script>
                const input = document.getElementById('GrupoTit');
        
                // Adicione um evento de foco ao input
                input.addEventListener('focus', function() {
                    // Quando o input recebe foco, remova o placeholder
                    input.removeAttribute('placeholder');
                });
        
                // Adicione um evento de desfoque ao input
                input.addEventListener('blur', function() {
                    // Quando o input perde foco e não tem valor, adicione o placeholder de volta
                    if (!input.value.trim()) {
                        input.setAttribute('placeholder', 'PESQUISAR GRUPOS');
                    }
                });
            </script>
            <script>
                            document.getElementById("LogOut").addEventListener("click", function() {
                                document.getElementById("SairTamanhoEST").classList.toggle("show");
                            });

                            document.getElementById("LogOut").addEventListener("click", function() {
                                document.getElementById("SairBack").classList.toggle("show");
                            });

                            document.getElementById("CancelButton").addEventListener("click", function() {
                                document.getElementById("SairTamanhoEST").classList.toggle("show");
                            });
            
                            document.getElementById("CancelButton").addEventListener("click", function() {
                                document.getElementById("SairBack").classList.toggle("show");
                            });
            </script>
</body>
</html>
